<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="聞いて_相槌マシーン.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <聞いて_相槌マシーン.Properties.Settings>
            <setting name="DataBasePath" serializeAs="String">
                <value>users.db</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=users.db;Version=3;</value>
            </setting>
            <setting name="LastVoice" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTone" serializeAs="String">
                <value />
            </setting>
        </聞いて_相槌マシーン.Properties.Settings>
    </userSettings>
</configuration>